# Ignore node_modules in both frontend and backend
node_modules/
client/node_modules/
server/node_modules/

# Logs
logs
*.log

# OS files
.DS_Store
Thumbs.db

# Environment files
.env
client/.env
server/.env

# Build output
client/dist/
client/build/

# IDE folders
.vscode/
.idea/
